{% extends "base.html" %}
{% block title %}
{{article.title|striptags}}
{% endblock %}
{% block head %}
{{ super() }}
{% for keyword in article.keywords %}
<meta name="keywords" contents="{{keyword}}" />
{% endfor %}
{% for description in article.description %}
<meta name="description" contents="{{description}}" />
{% endfor %}
{% endblock %}
{% block content %}
<div id="article" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <header>
        <div class="row">
          <h2 class="article-title">
            <a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a>
          </h2>
        </div>
      </header>
      <footer>
        <div class="row">
          Published on <abbr class="article-date" title="{{article.date.isoformat()}}">{{article.locale_date}}</abbr>
        </div>
        {% if article.modified %}
        <div class="row">
          Last updated on <abbr class="article-modified" title="{{article.modified.isoformat()}}">{{article.locale_modified}}</abbr>
        </div>
        {% endif %}
      </footer>
      <div class="row article-content">
        {{article.content}}
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
{% endblock %}
